<template>
  <div class="container">
    <section class="card box">
      <header class="card-header">
        <p class="card-header-title">Nouveau mot</p>
      </header>
      <div class="card-content">
        <b-message
          title="Error"
          v-if="error.status"
          type="is-danger"
          aria-close-label="Close message"
          >{{ error.message }}</b-message
        >
        <b-field grouped>
          <b-field label="Type">
            <b-select
              placeholder="Selectioner un type"
              v-model="parameters.type"
            >
              <option
                v-for="(type, index) in types"
                :key="index"
                :value="type.id"
                >{{ type.name }}</option
              >
            </b-select>
          </b-field>
          <b-field label="Style">
            <b-select multiple v-model="parameters.styles">
              <option
                v-for="(style, index) in UserStyles"
                :key="index"
                :value="style.attr"
                >{{ style.name }}</option
              >
            </b-select>
          </b-field>
          <b-field label="Nombre de sylabe">
            <b-numberinput
              v-model="parameters.length"
              min="1"
              max="10"
              controls-position="compact"
            ></b-numberinput>
          </b-field>
        </b-field>
        <b-button @click="GenerateName" class="is-primary is-medium"
          >generer aleatoirement</b-button
        >
      </div>
    </section>
    <div v-for="(generated, index) in generes" :key="index" class="box">
      <article class="media">
        <div v-if="!generated.saved" class="media-left">
          <b-button @click="select(generated)"> Sauvegarder 
          </b-button>
        </div>
        <div v-else class="media-left">
          <b-icon pack="fas" icon="check"></b-icon>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              {{ generated.message }}
              <strong>{{ generated.name }}</strong>
            </p>
          </div>
        </div>
        <div class="media-right">
          <a
            class="icon is-small"
            :href="
              'https://twitter.com/intent/tweet?text=' +
                generated.message +
                generated.name +
                '&hashtags=GenerateurNom'
            "
          >
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </article>
    </div>
    <div class="columns">
      <div class="column">
        <ListSylabes :edit="true" :collapse="true" :userid="this.currentUser.uid" :realtime="true"></ListSylabes>
      </div>
      <div class="column">
        <ListStyles :edit="true" :collapse="true" :userid="this.currentUser.uid" :realtime="true"></ListStyles>
      </div>
      <div class="column">
        <ListAssociations :edit="true" :collapse="true" :userid="this.currentUser.uid" :realtime="true"></ListAssociations>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import ListSylabes from "../components/sylabes.vue";
import ListStyles from "../components/Styles.vue";
import ListAssociations from "../components/Associations.vue";
import mixin from "../Mixin/mixin.vue";
const fb = require("../config/firebase.js");

export default {
  name: "Generate",
  mixins: [mixin],
  components: {
    ListSylabes,
    ListStyles,
    ListAssociations,
  },
  computed: {
    ...mapState(["types"]),
  },
  data() {
    return {
      parameters: {
        type: null,
        styles: [],
        length: 2,
      },
      name: "",
      error: {
        status: false,
        message: "",
      },
    };
  },
  methods: {
    Random(nb) {
      return Math.floor(Math.random() * nb);
    },
    GenerateName() {
      let name = "";
      let SelectedSylabes = [];
      for (let index = 0; index < this.parameters.styles.length; index++) {
        this.sylabes.forEach((element) => {
          if (element.style == this.parameters.styles[index])
            SelectedSylabes.push(element);
        });
      }
      if (!SelectedSylabes || SelectedSylabes.length == 0) {
        this.error.status = true;
        this.error.message = "Il n'y as pas de type ou de style selectionne";
        return;
      }

      let message = "";
      if (this.parameters.type.attr == "perso")
        message = "Le personage invente s'apelle ";
      else if (this.parameters.type.attr == "ville")
        message = "La ville invente est ";
      else if (this.parameters.type.attr)
        message = `Le $(this.parameters.type.attr) invente est `;
      else message = "Le nom invente est ";

      for (let index = 0; index < this.parameters.length; index++) {
        const randomsylabe =
          SelectedSylabes[this.Random(SelectedSylabes.length)].name;
        let SelectedAssociations = [];
        this.UserAssociations.forEach((element) => {
          if (element.sylabes[0] == randomsylabe) {
            SelectedAssociations.push(element);
          }
        });

        if (SelectedAssociations.length) {
          const randomAssociation =
            SelectedAssociations[this.Random(SelectedAssociations.length)];
          for (const assos in randomAssociation.sylabes) {
            name += randomAssociation.sylabes[assos];
          }
          index += randomAssociation.sylabes.length;
        } else {
          name += randomsylabe;
        }
      }

      this.$store.dispatch("AddGenerated", {
        name: name,
        type: this.parameters.type,
        message: message,
        saved: false,
        user: this.currentUser.uid,
      });
    },
    select(generated) {
      generated.saved = true
      fb.motsCollection.add(generated)
    }
  },
};
</script>
