<template>
  <div>
    <section>
      <b-steps v-model="activeStep" :has-navigation="false">
        <b-step-item step="1" label="Style">
          <div class="column is-4 is-offset-4">
            <div class="box">
              <b-message
                title="Error"
                v-if="error.style.status"
                type="is-danger"
                aria-close-label="Close message"
                >{{ error.style.message }}</b-message
              >
              <b-field label="Nouveau nom de style">
                <b-input
                  v-model="NewStyle.name"
                  minlength="5"
                  maxlength="30"
                ></b-input>
              </b-field>
              <b-field label="Nouveau surnom de style">
                <b-input
                  v-model="NewStyle.attr"
                  minlength="2"
                  maxlength="6"
                ></b-input>
              </b-field>
            </div>
            <b-button @click="setStyle">Suivant</b-button>
          </div>
        </b-step-item>

        <b-step-item step="2" label="Sylabes">
          <div class="column container">
            <h1 class="title has-text-centered">Sylabes</h1>
            <section class="card box">
              <b-table
                :data="sylabes"
                :columns="[
                  { field: 'name', label: 'Sylabe' },
                  { field: 'origine', label: 'Origine' },
                  { label: 'action' },
                ]"
              >
                <template slot-scope="props">
                  <b-table-column field="name" width="40">
                    {{ props.row.name }}
                  </b-table-column>
                  <b-table-column field="origine" width="40">
                    {{ props.row.origine }}
                  </b-table-column>
                  <b-table-column field="action" width="10">
                    <b-button
                      type="is-danger"
                      icon-right="delete"
                      @click="DeleteSylabe(props.row)"
                    >
                      Delete
                    </b-button>
                  </b-table-column>
                </template>
                <template slot="empty">
                  <div class="content has-text-grey has-text-centered">
                    <p>Pas de sylabes</p>
                  </div>
                </template>
              </b-table>
              <b-message
                title="Error"
                v-if="error.sylabes.status"
                type="is-danger"
                aria-close-label="Close message"
                >{{ error.sylabes.message }}</b-message
              >
              <div class="columns">
                <div class="column">
                  <div class="box card">
                    <div class="card-header">
                      <p class="card-header-title">Creer une nouvelle sylabe</p>
                    </div>
                    <div class="card-content">
                      <b-message
                        title="Error"
                        v-if="error.sylabe.status"
                        type="is-danger"
                        aria-close-label="Close message"
                        >{{ error.sylabe.message }}</b-message
                      >
                      <b-field label="Sylabe">
                        <b-input
                          v-model="NewSylabe.name"
                          minlength="2"
                          maxlength="7"
                        ></b-input>
                      </b-field>
                      <b-field label="Origine"
                        ><b-input
                          v-model="NewSylabe.origine"
                          type="textarea"
                          minlength="10"
                          maxlength="150"
                        ></b-input>
                      </b-field>
                      <b-button @click="setSylabe">Nouvelle Sylabe</b-button>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="box card">
                    <div class="card-header">
                      <p class="card-header-title">
                        Creer des sylabes a partir d'un texte
                      </p>
                    </div>
                    <div class="card-content">
                      <b-message
                        title="Error"
                        v-if="error.text.status"
                        type="is-danger"
                        aria-close-label="Close message"
                        >{{ error.text.message }}</b-message
                      >
                      <b-field label="Texte"
                        ><b-input
                          v-model="NewTextSylabes.text"
                          type="textarea"
                          minlength="5"
                          maxlength="150"
                        ></b-input>
                      </b-field>
                      <b-field label="Origine globales"
                        ><b-input
                          v-model="NewTextSylabes.origine"
                          type="textarea"
                        ></b-input
                      ></b-field>
                      <b-button @click="setTextSylabes"
                        >Nouvelle Sylabes</b-button
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="has-text-centered ">
              <b-button @click="activeStep -= 1">Precedent</b-button>
              <b-button @click="setSylabes">Suivant</b-button>
            </div>
          </div>
        </b-step-item>

        <b-step-item step="3" label="Associations">
          <div class="column container">
            <h1 class="title has-text-centered">Associations</h1>
            <b-table
              :data="associations"
              :columns="[
                { field: 'associations', label: 'Associations' },
                { field: 'origine', label: 'Origine' },
                { label: 'action' },
              ]"
            >
              <template slot-scope="props">
                <b-table-column field="sylabes" width="40">
                  <template v-for="sylabe in props.row.sylabes">
                    {{ sylabe }}
                  </template>
                </b-table-column>
                <b-table-column field="origine" width="40">
                  {{ props.row.origine }}
                </b-table-column>
                <b-table-column field="action" width="10">
                  <b-button
                    type="is-danger"
                    icon-right="delete"
                    @click="DeleteAssociation(props.row)"
                  >
                    Delete
                  </b-button>
                </b-table-column>
              </template>
              <template slot="empty">
                <div class="content has-text-grey has-text-centered">
                  <p>Pas de sylabes</p>
                </div>
              </template>
            </b-table>
            <section class="card box">
              <b-message
                title="Error"
                v-if="error.assos.status"
                type="is-danger"
                aria-close-label="Close message"
                >{{ error.assos.message }}</b-message
              >
              <b-field grouped position="is-centered">
                <b-select
                  v-for="(position, index) in NewAssos.sylabes"
                  :key="index"
                  v-model="NewAssos.sylabes[index]"
                >
                  <option
                    v-for="(sylabe, index) in sylabes"
                    :key="index"
                    :value="sylabe.name"
                    >{{ sylabe.name }}
                  </option>
                </b-select>
                <b-button
                  @click="NewAssos.sylabes.push({})"
                  v-if="this.NewAssos.sylabes.length < 4"
                  >+</b-button
                >
                <b-button
                  @click="NewAssos.sylabes.pop()"
                  v-if="this.NewAssos.sylabes.length > 2"
                  >-</b-button
                >
              </b-field>
              <b-field label="origine"
                ><b-input v-model="NewAssos.origine" type="textarea"></b-input
              ></b-field>
              <button class="button is-primary" @click="setAssociation">
                Nouvelle association
              </button>
            </section>
            <div class="buttons">
              <b-button @click="activeStep -= 1">Precedent</b-button>
              <b-button @click="activeStep += 1">Suivant</b-button>
            </div>
          </div>
        </b-step-item>

        <b-step-item step="4" label="Finalisation">
          <div class="column is-4 is-offset-4">
            <h1 class="title has-text-centered">Bilan</h1>
            <div class="card box">
              <p>
                Un nouveau style du nom de {{ NewStyle.name }}, avec
                {{ sylabes.length }} sylabe et
                {{ associations.length }} association
              </p>
              <b-button @click="finalize">Finaliser</b-button>
            </div>
            <div class="buttons">
              <b-button @click="activeStep -= 1">Precedent</b-button>
            </div>
          </div>
        </b-step-item>
      </b-steps>
    </section>
  </div>
</template>

<script>
import { mapState } from "vuex";
const fb = require("../config/firebase.js");
//import AssociationsTable from "./Tableaux/associations";

export default {
  name: "Introduction",
  components: {},
  computed: { ...mapState(["currentUser"]) },
  data() {
    return {
      activeStep: 0,
      NewStyle: {
        name: "",
        attr: "",
        user: "",
      },
      NewSylabe: {
        name: "",
        origine: "",
        user: "",
      },

      sylabes: [],
      NewTextSylabes: {
        text: "",
        origine: "",
      },

      associations: [],
      NewAssos: {
        sylabes: ["", ""],
        origines: "",
      },

      error: {
        style: {
          status: false,
          message: "",
        },
        sylabes: {
          status: false,
          message: "",
        },
        sylabe: {
          status: false,
          message: "",
        },
        text: {
          status: false,
          message: "",
        },
        assos: {
          status: false,
          message: "",
        },
      },
    };
  },
  methods: {
    setStyle() {
      if (!this.NewStyle.name) {
        this.error.style.status = true;
        this.error.style.message = "Nom invalide";
      } else if (!this.NewStyle.attr) {
        this.error.style.status = true;
        this.error.style.message = "Surnom invalide";
      } else {
        this.NewStyle.user = this.currentUser.uid;
        this.activeStep += 1;
      }
    },
    setSylabes() {
      if (!this.sylabes) {
        this.error.sylabes.status = true;
        this.error.sylabes.message = "Pas de sylabes";
      } else if (this.sylabes.length < 3) {
        this.error.sylabes.status = true;
        this.error.sylabes.message = "Minimum de 3 sylabes";
      } else {
        this.activeStep += 1;
      }
    },

    pushSylabe(sylabe) {
      this.sylabes.push({
        name: sylabe.name,
        origine: sylabe.origine,
        style: this.NewStyle.attr,
        user: this.currentUser.uid,
      });
    },
    setSylabe() {
      if (!this.NewSylabe.name) {
        this.error.sylabe.status = true;
        this.error.sylabe.message = "Nom invalide";
      } else {
        this.pushSylabe(this.NewSylabe);
      }
    },
    setTextSylabes() {
      if (!this.NewTextSylabes.text) {
        this.error.text.status = true;
        this.error.text.message = "Texte invalide";
      } else {
        const consonne = "bcdfghjklmnpqrstvwxz";
        const voyelle = "aeiouy";
        let sylabes = [];
        let i = 0;

        while (i <= this.NewTextSylabes.text.length) {
          if (consonne.includes(this.NewTextSylabes.text[i])) {
            let sylabe = "";
            let hasvoyelle = false;
            while (consonne.includes(this.NewTextSylabes.text[i])) {
              sylabe += this.NewTextSylabes.text[i];
              i++;
            }
            while (voyelle.includes(this.NewTextSylabes.text[i])) {
              sylabe += this.NewTextSylabes.text[i];
              i++;
              hasvoyelle = true;
            }
            if (hasvoyelle) {
              sylabes.push(sylabe);
            }
          } else i++;
        }

        if (sylabes) {
          sylabes.forEach((sylabe) => {
            this.pushSylabe({
              name: sylabe,
              origine: this.NewTextSylabes.origine,
            });
          });
          this.NewTextSylabes.text = "";
          this.NewTextSylabes.origine = "";
        }
      }
    },
    DeleteSylabe(sylabe) {
      this.sylabes.splice(sylabe, 1);
    },

    setAssociation() {
      let nb = 0;
      for (const index in this.NewAssos.sylabes) {
        if (!this.NewAssos.sylabes[index]) {
          this.error.assos.status = true;
          this.error.assos.message = "Pas toutes les sylabes";
          return;
        }
        nb += 1;
      }
      if (nb < 2) {
        this.error.assos.status = true;
        this.error.assos.message = "Il faut a minimum 2 sylabes";
      } else {
        const association = {
          sylabes: this.NewAssos.sylabes,
          origine: this.NewAssos.origine,
          user: this.currentUser.uid,
        };
        this.NewAssos.sylabes = [{}, {}];
        this.NewAssos.origine = "";
        this.associations.push(association);
      }
    },
    DeleteAssociation(association) {
      this.associations.splice(association, 1);
    },

    finalize() {
      fb.stylesCollection.add(this.NewStyle);
      this.sylabes.forEach((element) => {
        fb.sylabesCollection.add(element);
      });
      this.associations.forEach((element) => {
        fb.associationsCollection.add(element);
      });
      this.$router.push({ name: "Generate" });
    },
  },
};
</script>
