<template>
  <div>
    <ListMots :userid="this.userid" :edit="true" />
    <div class="columns">
      <div class="column">
        <ListSylabes :edit="false" :collapse="true" :userid="this.userid"></ListSylabes>
      </div>
      <div class="column">
        <ListStyles :edit="false" :collapse="true" :userid="this.userid" :realtime="false"></ListStyles>
      </div>
      <div class="column">
        <ListAssociations :edit="false" :collapse="true" :userid="this.userid"></ListAssociations>
      </div>
    </div>
  </div>
</template>

<script>

import ListSylabes from "../components/sylabes.vue";
import ListStyles from "../components/Styles.vue";
import ListAssociations from "../components/Associations.vue";
import ListMots from "../components/Mots"

export default {
  name: "Profile",
  props: {
    userid: String,
  },
  components: {
    ListSylabes,
    ListStyles,
    ListAssociations,
    ListMots
  },
}
</script>