<template>
  <div>
    <b-navbar>
      <template slot="brand">
        <b-navbar-item>Generateur de mot </b-navbar-item>
      </template>
      <template slot="end">
        <b-navbar-item tag="div">
          <div class="buttons">
            <b-navbar-item tag="router-link"
                :to="{name: 'profile', params: { userid: currentUser.uid}}"
                type="is-link">
                profil
            </b-navbar-item >
            <b-navbar-item tag="router-link"
              :to="{name: 'Generate'}"
              type="is-link">
              Generer
            </b-navbar-item>
            <b-button v-if="currentUser" @click="logout()">Deconnection</b-button>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
    <router-view />
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Generataure</strong> <a href="https://gitlab.com/husahuc/generator">code source</a>
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapState } from "vuex";
const fb = require("../config/firebase.js");

export default {
  name: "Root",
  computed: {
    ...mapState(["currentUser"]),
  },
  methods: {
    logout() {
      fb.auth
        .signOut()
        .then(() => {
          this.$store.dispatch("clearData");
          this.$router.push( {name: 'Login'})
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>