<template>
  <div class="container has-text-center">
    <div class="column is-4 is-offset-4">
      <div class="col1 has-text-centered">
        <h1 class="title has-text-black">Generataure</h1>
        <p class="subtitle has-text-black">
          Bienvenue dans un generateur de mot, cree aleatoirement avec des
          sylabes, et selon differents choix de style et d'association de
          sylabes
        </p>
      </div>
      <div class="box">
        <b-tabs v-model="activeTab">
          <b-tab-item label="connection">
            <div id="connection">
              <section>
                <div class="has-text-centered">
                  <div>
                    <b-message
                      title="Error"
                      v-if="error.status"
                      type="is-danger"
                      aria-close-label="Close message"
                      >{{ error.message }}</b-message
                    >
                    <b-field label="Email">
                      <b-input
                        type="email"
                        minlength="4"
                        maxlength="30"
                        v-model="loginForm.email"
                      >
                      </b-input>
                    </b-field>
                    <b-field label="Mot de passe">
                      <b-input
                        value=""
                        type="password"
                        minlength="8"
                        maxlength="30"
                        v-model="loginForm.password"
                      ></b-input>
                    </b-field>
                    <div>
                      <b-button @click="socialLogin()" type="is-primary">
                        <b-icon pack="fab" icon="google" /> Google</b-button
                      >
                    </div>
                    <div>
                      <b-button type="is-info" @click="login()"
                        >Se connecter</b-button
                      >
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </b-tab-item>
          <b-tab-item label="inscription" icon="account">
            <div>
              <section>
                <div class="has-text-centered">
                  <b-message
                    title="Error"
                    v-if="errorsign.status"
                    type="is-danger"
                    aria-close-label="Close message"
                    >{{ errorsign.message }}</b-message
                  >
                  <b-field label="Email">
                    <b-input
                      type="email"
                      minlength="4"
                      maxlength="30"
                      v-model="signupForm.email"
                    >
                    </b-input>
                  </b-field>
                  <b-field label="Mot de passe">
                    <b-input
                      value=""
                      type="password"
                      minlength="8"
                      maxlength="30"
                      v-model="signupForm.password"
                    ></b-input>
                  </b-field>
                  <b-button type="is-info" @click="signup()"
                    >S'inscrire</b-button
                  >
                </div>
              </section>
            </div>
          </b-tab-item>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
const fb = require("../config/firebase.js");
const firebase = require("firebase/app");

export default {
  name: "user",
  data() {
    return {
      loginForm: {
        email: "",
        password: "",
      },
      signupForm: {
        email: "",
        password: "",
      },
      activeTab: 0,
      error: {
        status: false,
        message: "",
      },
      errorsign: {
        status: false,
        message: "",
      },
    };
  },
  methods: {
    login() {
      if (!this.loginForm.email) {
        this.error.status = true;
        this.error.message = "Pas de email";
      } else if (!this.loginForm.password) {
        this.error.status = true;
        this.error.message = "Pas de mot de passe";
      } else {
        fb.auth
          .signInWithEmailAndPassword(
            this.loginForm.email,
            this.loginForm.password
          )
          .then((user) => {
            this.$store.commit("setCurrentUser", user);
            this.$store.dispatch("fetchUserProfile");
            this.$router.push( {name: 'Generate'})
          })
          .catch((err) => {
            this.error.status = true;
            this.error.message = err;
          });
      }
    },
    signup() {
      if (!this.signupForm.email) {
        this.errorsign.status = true;
        this.errorsign.message = "Pas de email";
      } else if (!this.signupForm.password) {
        this.errorsign.status = true;
        this.errorsign.message = "Pas de mot de passe";
      } else {
        fb.auth
          .createUserWithEmailAndPassword(
            this.signupForm.email,
            this.signupForm.password
          )
          .then((user) => {
            this.$store.commit("setCurrentUser", user);
            this.$router.push( {name: 'Introduction'})
          })
          .catch((err) => {
            this.errorsign.status = true;
            this.errorsign.message = err;
          });
      }
    },
    socialLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();

      fb.auth.signInWithPopup(provider).then((user) => {
        this.$store.commit("setCurrentUser", user);
        this.$router.push( {name: 'Generate'})
      });
    },
  },
};
</script>