<template>
  <b-table
    :data="associations"
    :columns="[
      { field: 'name', label: 'Sylabe' },
      { field: 'origine', label: 'Origine' },
    ]"
  >
    <template slot="empty">
      <div class="content has-text-grey has-text-centered">
        <p>Pas de sylabes</p>
      </div>
    </template>
  </b-table>
</template>

<script>
export default {
  name: "AssociationsTable",
  props: ["associations"],
};
</script>
