<template>
  <section>
    <b-collapse class="card" animation="slide" :open="false">
      <div slot="trigger" slot-scope="props" class="card-header" role="button">
        <p class="card-header-title">
          Liste des Associations
        </p>
        <a class="card-header-icon">
          <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
        </a>
      </div>
      <div class="card-content">
        <b-table
          :data="ListAssociations"
          :columns="[
            { field: 'sylabes', label: 'Sylabes' },
            { field: 'origine', label: 'Origine' },
            { label: 'action' },
          ]"
        >
          <template slot-scope="props">
            <b-table-column field="sylabes" width="40">
              <template v-for="sylabe in props.row.sylabes">
                {{ sylabe }}
              </template>
            </b-table-column>
            <b-table-column field="origine" width="40">
              {{ props.row.origine }}
            </b-table-column>
            <b-table-column field="action" width="10">
              <b-button
                type="is-danger"
                icon-right="delete"
                @click="DeleteAssociation(props.row)"
              >
                Delete
              </b-button>
            </b-table-column>
          </template>
        </b-table>
        <div v-if="edit == true">
          <section class="card box">
            <b-message
              title="Error"
              v-if="error.status"
              type="is-danger"
              aria-close-label="Close message"
              >{{ error.message }}</b-message
            >
            <b-field grouped>
              <b-select
                v-for="(position, index) in newAssos.sylabes"
                :key="index"
                v-model="newAssos.sylabes[index]"
              >
                <option
                  v-for="(sylabe, index) in UserSylabe"
                  :key="index"
                  :value="sylabe.name"
                  >{{ sylabe.name }}
                </option>
              </b-select>
              <b-button
                @click="addSylabe"
                v-if="this.newAssos.sylabes.length < 4"
                >+</b-button
              >
              <b-button
                @click="removeSylabe"
                v-if="this.newAssos.sylabes.length > 2"
                >-</b-button
              >
            </b-field>
            <b-field label="origine"
              ><b-input v-model="newAssos.origine" type="textarea"></b-input
            ></b-field>
            <button class="button is-primary" @click="NewAssociation()">
              Nouvelle association
            </button>
          </section>
        </div>
      </div>
    </b-collapse>
  </section>
</template>

<script>
//import { mapState } from "vuex";
const fb = require("../config/firebase.js");
import mixin from "../Mixin/mixin.vue";

export default {
  name: "Associations",
  mixins: [mixin],
  props: {
    edit: Boolean,
    colapse: Boolean,
    userid: String,
  },
  data() {
    return {
      newAssos: {
        sylabes: ["", ""],
        origine: "",
      },
      error: {
        status: false,
        message: "",
      },
    };
  },
  methods: {
    addSylabe() {
      this.newAssos.sylabes.push({});
    },
    removeSylabe() {
      this.newAssos.sylabes.pop();
    },

    NewAssociation() {
      let nb = 0;
      for (const index in this.newAssos.sylabes) {
        if (!this.newAssos.sylabes[index]) {
          this.error.status = true;
          this.error.message = "Pas toutes les sylabes";
          return;
        }
        nb += 1;
      }
      if (nb < 2) {
        this.error.status = true;
        this.error.message = "Il faut a minimum 2 sylabes";
      } else {
        const association = {
          sylabes: this.newAssos.sylabes,
          origine: this.newAssos.origine,
          user: this.currentUser.uid,
        };
        this.newAssos.sylabes = [{}, {}]
        this.newAssos.origine = ""
        fb.associationsCollection.add(association);
      }
    },
    DeleteAssociation(association) {
      this.$store.dispatch("DelAssociations", association);
      fb.associationsCollection.doc(association.id).delete();
    },
  },
  computed: {
    ListAssociations: function() {
      return this.associations.filter(
        (element) => element.user == this.userid
      );
    },
  },
};
</script>
