<template>
  <div class="content">
    <div v-for="(mot, index) in motsUser" :key="index" class="box">
      <article class="media">
        <div v-if="edit" class="media-left">
          <b-button @click="deleteMot(mot)"> Suprimer 
          </b-button>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              {{ mot.message }}
              <strong>{{ mot.name }}</strong>
            </p>
          </div>
        </div>
        <div class="media-right">
          <a
            class="icon is-small"
            :href="
              'https://twitter.com/intent/tweet?text=' +
                mot.message +
                mot.name +
                '&hashtags=GenerateurNom'
            "
          >
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
const fb = require("../config/firebase.js");

export default {
  name: "ListMots",
  props: {
    edit: Boolean,
    colapse: Boolean,
    userid: String,
  },
  computed: {
    ...mapState(["mots"]),
    motsUser: function() {
      return this.mots.filter(
        (element) => element.user == this.userid
      );
    },
  },
  methods: {
    deleteMot(mot) {
      fb.motsCollection.doc(mot.id).delete()
    }
  },
}
</script>