<template>
  <section>
    <b-collapse class="card" animation="slide" :open="false">
      <div slot="trigger" slot-scope="props" class="card-header" role="button">
        <p class="card-header-title">
          Liste des Styles
        </p>
        <a class="card-header-icon">
          <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
        </a>
      </div>
      <div class="card-content">
        <b-table
          :data="ListStyles"
          :columns="[
            { field: 'name', label: 'Nom' },
            { field: 'attr', label: 'Surnom' },
            { label: 'action' },
          ]"
        >
          <template slot-scope="props">
            <b-table-column field="name" width="40">
              {{ props.row.name }}
            </b-table-column>
            <b-table-column field="attr" width="40">
              {{ props.row.attr }}
            </b-table-column>
            <b-table-column field="action" width="10">
              <b-button
                type="is-danger"
                icon-right="delete"
                @click="DeleteStyle(props.row)"
              >
                Delete
              </b-button>
            </b-table-column>
          </template>
        </b-table>
        <div v-if="edit == true">
          <section class="card box">
            <b-message
              title="Error"
              v-if="error.status"
              type="is-danger"
              aria-close-label="Close message"
              >{{ error.message }}</b-message
            >
            <b-field label="nom">
              <b-input v-model="name" minlength="4" maxlength="30"></b-input>
            </b-field>
            <b-field label="surnom">
              <b-input v-model="attr" minlength="1" maxlength="5"></b-input
            ></b-field>
            <div class="buttons">
              <b-button class="button is-primary" @click="NewStyle()">
                Nouveau style
              </b-button>
              <b-button
                class="button is-info"
                tag="router-link"
                to="/introduction"
              >
                Nouveau style complet
              </b-button>
            </div>
          </section>
        </div>
      </div>
    </b-collapse>
  </section>
</template>

<script>
const fb = require("../config/firebase.js");
import mixin from "../Mixin/mixin.vue";

export default {
  name: "ListStyles",
  mixins: [mixin],
  props: {
    edit: Boolean,
    colapse: Boolean,
    userid: String,
    realtime: Boolean,
  },
  data() {
    return {
      name: "",
      attr: "",
      error: {
        status: false,
        message: "",
      },
    };
  },
  methods: {
    NewStyle() {
      if (!this.name) {
        this.error.status = true;
        this.error.message = "Nom invalide";
      } else if (!this.attr) {
        this.error.status = true;
        this.error.message = "Surnom invalide";
      } else {
        const style = {
          name: this.name,
          attr: this.attr,
          user: this.currentUser.uid,
        };
        this.name = "";
        this.attr = "";
        fb.stylesCollection.add(style);
      }
    },
    DeleteStyle(style) {
      fb.stylesCollection.doc(style.id).delete();
    },
  },
  computed: {
    ListStyles: function() {
      if (this.realtime) {
        return this.styles.filter((element) => element.user == this.userid);
      }
      else
        return fb.stylesCollection.where('user', '==', this.userid).get()
    },
  },
};
</script>
