<template>
  <section>
    <b-collapse class="card" animation="slide" :open="false">
      <div slot="trigger" slot-scope="props" class="card-header" role="button">
        <p class="card-header-title">
          Liste des Sylabes
        </p>
        <a class="card-header-icon">
          <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
        </a>
      </div>
      <div class="card-content">
        <b-table
          :data="ListSylabes"
          :columns="[
            { field: 'name', label: 'Sylabe' },
            { field: 'style', label: 'Style' },
            { label: 'action' },
          ]"
          detailed
        >
          <template slot-scope="props">
            <b-table-column field="name" width="40">
              {{ props.row.name }}
            </b-table-column>
            <b-table-column field="style" width="40">
              {{ props.row.style }}
            </b-table-column>
            <b-table-column field="action" width="10">
              <b-button
                type="is-danger"
                icon-right="delete"
                @click="DeleteSylabe(props.row)"
              >
                Delete
              </b-button>
            </b-table-column>
          </template>
          <template slot="detail" slot-scope="props">
            <div>{{ props.row.origine }}</div>
            <div
              v-for="(association, index) in GetAssociation(props.row)"
              :key="index"
              class="tile"
            >
              Association entre
              <b-tag
                v-for="(sylabe, index) in association.sylabes"
                :key="index"
                >{{ sylabe }}</b-tag
              >
            </div>
          </template>
        </b-table>
        <div v-if="edit == true">
          <section class="card box">
            <b-message
              title="Error"
              v-if="error.status"
              type="is-danger"
              aria-close-label="Close message"
              >{{ error.message }}</b-message
            >
            <b-field label="Sylabe">
              <b-input v-model="sylabe" minlength="2" maxlength="7"></b-input>
            </b-field>
            <b-field label="style"
              ><b-select v-model="style" placeholder="Selectionner un style">
                <option
                  v-for="(style, index) in UserStyles"
                  :key="index"
                  :value="style.attr"
                  >{{ style.name }}</option
                >
              </b-select></b-field
            >
            <b-field label="origine"
              ><b-input
                v-model="origine"
                type="textarea"
                minlength="10"
                maxlength="150"
              ></b-input
            ></b-field>
            <button class="button is-primary" @click="NewSylabe()">
              Nouvelle Sylabe
            </button>
          </section>
        </div>
      </div>
    </b-collapse>
  </section>
</template>

<script>
const fb = require("../config/firebase.js");
import mixin from "../Mixin/mixin.vue";

export default {
  name: "ListSylabes",
  mixins: [mixin],
  props: {
    edit: Boolean,
    colapse: Boolean,
    userid: String,
  },
  data() {
    return {
      sylabe: "",
      style: null,
      origine: "",
      error: {
        status: false,
        message: "",
      },
    };
  },
  methods: {
    NewSylabe() {
      if (!this.sylabe) {
        this.error.status = true;
        this.error.message = "Sylabe invalide";
      } else if (!this.style) {
        this.error.status = true;
        this.error.message = "Style invalide";
      } else {
        const sylabe = {
          style: this.style,
          name: this.sylabe,
          origine: this.origine,
          user: this.currentUser.uid,
        };
        this.style = null;
        this.sylabe = "";
        this.origine = "";
        fb.sylabesCollection.add(sylabe);
      }
    },
    DeleteSylabe(sylabe) {
      fb.sylabesCollection.doc(sylabe.id).delete();
    },

    GetAssociation(sylabe) {
      return this.$store.getters.GetAllAssocSylabe(sylabe);
    },
  },
  computed: {
    ListSylabes: function() {
      return this.sylabes.filter(
        (element) => element.user == this.userid
      );
    },
  },
};
</script>
